<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-5">
                <img class="img1" src="assets/logo/AL-RAFAH img11.png" alt="">


            </div>
            <div class="col-md-6 my-auto">
                <p style="color: #5bbb01;font-weight: 500;  font-size: 20px;">
                    At Al-bariq Appliances Service
                </p>
                <h1 style="font-weight: 800; line-height: 35px;">
                    Trademill <br> <span style="color: #5bbb01;">Service</span>
                </h1>
                <p>
                    Al-Bariq Appliance provides professional treadmill repair and maintenance services, ensuring optimal
                    performance and safety. Our skilled technicians specialize in fixing motor, belt, and electrical
                    issues, offering reliable and efficient solutions for all major treadmill brands.
                </p>

                <button type="button" class="btn btn-success mx-auto">
                    <i class="fa-solid fa-phone"></i>
                    Call Us...
                </button>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container-fluid mt-5 mb-5" style="background-color: #fff;">
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6  my-auto">
                <h1>
                    What we <span style="color: #5bbb01;">care</span> about?
                </h1>
                <ul>
                    <li>Motor Repairs: Fixing motor malfunctions to ensure smooth operation.</li>

                    <li>Belt and Deck Maintenance: Adjusting, repairing, or replacing belts and decks for safety and
                        performance.</li>

                    <li>Electrical Faults: Resolving wiring, control panel, and power supply issues.</li>

                    <li>Error Code Diagnostics: Identifying and repairing system errors efficiently.</li>

                    <li>Lubrication and Alignment: Ensuring proper belt alignment and lubrication for longevity.</li>

                    <li>Speed and Incline Calibration: Repairing or calibrating speed and incline settings for accurate
                        functionality.</li>

                    <li>Preventive Maintenance: Regular servicing to enhance treadmill performance and lifespan.</li>

                    <li>Multi-Brand Expertise: Skilled in handling treadmills from various brands and models.</li>

                    <li>Affordable Pricing: Quality service at competitive rates.
                    <li>Quick Turnaround: Timely repairs to minimize downtime.

                </ul>
                <div class="justify-content-center align-item-center text-align-center">
                    <button type="button" class="btn btn-success mx-auto">
                        <i class="fa-brands fa-whatsapp"></i>
                        Whatsapp
                    </button>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="img1" src="assets/logo/AL-RAFAH img12.png" alt="">
            </div>
            <div class="gap"></div>
        </div>
    </div>
</div>

<div class="gap"></div>




<app-footer></app-footer>