<footer class="mt-4">
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="container-fluid">
        <div class="gap"></div>
        <div class="row mx-3">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <img class="img3" src="assets/logo/AL-RAFAH LOGO-white.png" alt="">
                    <h4 style="color: #f09800; font-weight: 800;">
                        About Us
                    </h4>
                    <p>
                        When it comes to fixing your valuable appliances, trust only the best—our expert appliance
                        repair technicians in Dubai. With years of experience and specialized training.
                    </p>
                </div>


            </div>
            <div class="col-md-4 mt-4">
                <h4 style="color: #f09800; font-weight: 800;">
                    Repairing Services
                </h4>
                <a (click)="open('/Washing-Machine-Service')"
                    style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Washing Machine Repair </a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Cooking Range Repair</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Fridge/Refrigerator Repair</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Dishwasher Repair</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Washer Dryer Repair</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>GYM Equipment Repair</a> <br>

            </div>
            <div class="col-md-4 mt-4">
                <h4 style="color: #f09800; font-weight: 800;">
                    Repairing Services
                </h4>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Sports City</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Dubai Marina</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Al Barsha South</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Arabian Ranches</a> <br>
                <a style="color: #fff; font-weight: 500; margin-top: 10px; font-size: 20px;"><i style="color: #f09800;"
                        class=" mx-2 fa-solid fa-circle-right"></i>Palm Jumeriah</a> <br>
            </div>
        </div>
        <div class="row mx-3">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 my-auto">
                        <i style="font-size: 55px; color: #f09800;" class="fa-solid fa-square-phone"></i>
                    </div>
                    <div class="col-md-9">
                        <a href="tel:+971552067066" target="_blank">
                            <h2 style="color: #fff; font-weight: 600;">
                                Call Us
                            </h2>
                            <h5 style="color: #fff; font-weight: 600;">
                                (055) 206-7066
                            </h5>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 my-auto">
                        <i style="font-size: 55px; color: #f09800;" class="fa-solid fa-envelopes-bulk"></i>

                    </div>
                    <div class="col-md-9">
                        <h2 style="color: #fff; font-weight: 600;">
                            Email
                        </h2>
                        <h5 style="color: #fff; font-weight: 600;">
                            Info&#64;Aliafsaraliazhar&#64;gmail.com
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 my-auto">
                        <i style="font-size: 55px; color: #f09800;" class="fa-brands fa-square-whatsapp"></i>
                    </div>
                    <div class="col-md-9">
                        <a href="https://wa.me/+971552067066?text=Hello%20there!%20I%20would%20like%20to%20learn%20more%20about%20your%20services."
                            target="_blank">
                            <h2 style="color: #fff; font-weight: 600;">
                                Whatsapp
                            </h2>
                            <h5 style="color: #fff; font-weight: 600;">
                                (055) 206-7066
                            </h5>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="gap"></div>
    </div>
    <div class="container-fluid" style="background-color: #f09800;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 my-auto">
                    <div class="gap"></div>
                    <h3 style="color: #fff; font-weight: 800;">
                        All Rights Reserved!
                    </h3>
                    <p>
                        Developed By <a href="">Hindustan Designs & Developers</a> <br>
                    </p>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1"></div>
                <div class="col-md-3 my-auto">
                    <i style="color: #fff; font-size: 24px; text-align: right;"
                        class="mx-2 my-auto fa-brands fa-facebook"></i>
                    <i style="color: #fff; font-size: 24px; text-align: right;"
                        class="mx-2 my-auto fa-brands fa-square-x-twitter"></i>
                    <i style="color: #fff; font-size: 24px; text-align: right;"
                        class="mx-2 my-auto fa-brands fa-youtube"></i>
                    <i style="color: #fff; font-size: 24px; text-align: right;"
                        class="mx-2 my-auto fa-brands fa-linkedin"></i>
                    <i style="color: #fff; font-size: 24px; text-align: right;"
                        class="mx-2 my-auto fa-brands fa-pinterest"></i>
                </div>
            </div>
        </div>
    </div>
</footer>