<div class="gap"></div>
<div class="gap"></div>
<img class="landing" src="assets/image/landingPage.jpg" alt="">
<div class="container-fluid">

    <div class="container">
        <div class="row">



            <img class="img3" src="assets/logo/AL-RAFAH_LOGO.png" alt="">
            <p style="color: #f09800; font-weight: 800; text-overflow: ellipsis;">
                Certified Appliance Repair
            </p>
            <h1 style="font-weight: 800; font-size: 42px;">
                Affordable Appliance Repair Solutions.
            </h1>

            <p style="font-size: 24px;">
                Are you searching for best and cheap appliance repair services? <br> We guarantee affordable
                price for our services to help you make your appliances whole again without having to spend too
                much.
            </p>

            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="text-center mx-auto align-item-center justify-content-center mb-3">
                <a href="tel:+971552067066" target="_blank">
                    <button class="btn btn-success">
                        Call Us
                    </button>
                </a>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card1 p-3">
                    <i class="fa-solid fa-people-group mx-auto icon"></i>
                    <h3 class="text-center">
                        Satisfaction Guarantee
                    </h3>
                    <p class="text-center">
                        We offer a satisfaction guarantee with every service, ensuring that you're completely happy with
                        the results of our appliance repairs.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card1 p-3">
                    <i class="fa-solid fa-circle-info mx-auto icon"></i>
                    <h3 class="text-center ">
                        24/7 Availability
                    </h3>
                    <p class="text-center mx-4">
                        Our appliance repair services are available 24/7, so you can count on us to be there whenever
                        you need assistance.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card1 p-3">
                    <i class="fa-solid fa-screwdriver-wrench mx-auto icon"></i>
                    <h3 class="text-center">
                        Genuine Parts
                    </h3>
                    <p class="text-center mx-4">
                        Our appliance repair services are available 24/7, so you can count on us to be there whenever
                        you need assistance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container-fluid" style="background-color: rgb(137, 172, 173); ">
    <!-- <img class="rotate" src="assets/image/png.png.webp" alt=""> -->
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-6">
                <img class="img1" src="assets/logo/AL-RAFAH img2.png" alt="">

            </div>
            <div class="col-md-6">
                <p style="color: #f09800; font-weight: 500;">
                    About Our Company
                </p>
                <h1 style="font-weight: 800;">
                    Expert Appliance Repair Technicians.
                </h1>
                <p>
                    In case you need to repair your prized possessions, appliances, look no further than the best
                    appliance repair technicians Dubai has to offer. Our technicians are professional with rich
                    experience and advanced training to meet our clients need professionally, including engine trouble,
                    simple injury, major breakdown and others. Through this, they have the best knowledge of most brands
                    and models of the appliances giving you the confidence that your appliances are in good hands.
                </p>
                <p>
                    We also provide expert gym equipment repair services across Dubai. Our certified technicians
                    specialize in the maintenance and repair of various fitness machines, including treadmills,
                    elliptical trainers, and weight systems. We proudly offer affordable and reliable appliance fixing
                    in Dubai, making us the first choice for the good people who live throughout the city. Let’s restore
                    your appliances to perfect working order with our prompt, professional service.
                </p>
                <div class="row">
                    <div class="col-md-4"> <img src="assets/image/h1-r2.webp" alt=""></div>
                    <div class="col-md-4 my-auto mx-auto text-center">
                        <i style="color: #f09800;" class="fa-solid fa-star"></i>
                        <i style="color: #f09800;" class="fa-solid fa-star"></i>
                        <i style="color: #f09800;" class="fa-solid fa-star"></i>
                        <i style="color: #f09800;" class="fa-solid fa-star"></i>
                        <h5>
                            4k Reviews
                        </h5>
                    </div>
                    <div class="col-md-4 my-auto mx-auto">
                        <a href="https://wa.me/+971552067066?text=Hello%20there!%20I%20would%20like%20to%20learn%20more%20about%20your%20services."
                            target="_blank">
                            <button class="btn btn-success">
                                <i class="fa-brands fa-whatsapp"></i>
                                Whatsapp
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="gap"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-6">
                <img class="img2 " src="assets/logo/AL-RAFAH img1.png" alt="">
            </div>
            <div class="col-md-6 my-auto">
                <p style="color: #f09800; font-weight: 500;">
                    Why You Should Call Us for Appliance Repair??
                    <br> <span>Today!!</span>
                </p>
                <h1 class="text-right" style="font-weight: 800;">
                    Quality Appliance Repair Services Available.
                </h1>
                <p>
                    As for any kind of appliances repair services in Dubai, we are the most sought-after company among
                    home
                    owners and commercial entities. At our service, you can always find a team of highly qualified
                    mechanics
                    who are ready to help you fix any home appliances, from refrigerator and washing machine to oven and
                    others. We work with parts of the highest quality and state of the art equipment to guarantee the
                    work
                    is performed to perfection the first time through.
                </p>
                <div class="text-center mx-auto align-item-center justify-content-center">
                    <a href="https://wa.me/+971552067066?text=Hello%20there!%20I%20would%20like%20to%20learn%20more%20about%20your%20services."
                        target="_blank">
                        <button class="btn btn-success">
                            <i class="fa-brands fa-whatsapp"></i>
                            Whatsapp
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
    <div class="container">
        <div class="row  text-center">
            <div class="col-md-6">
                <div class="card mx-auto card2a p-3">
                    <img class="img3  mx-auto" src="assets/image/Cookin-Range-repair.png.webp" alt="">
                    <h3 style="color: #f09800;">
                        Washing Machine Repair
                    </h3>
                    <p>
                        Keep your laundry fresh with our quick and professional washing machine fix services.
                    </p>
                    <div class="text-center mx-auto align-item-center justify-content-center">
                        <a href="tel:+971552067066" target="_blank">
                            <button class="btn btn-success">
                                Call Us
                            </button>
                        </a>
                        <button class="mx-2 btn btn-warning">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mx-auto card2b p-3">
                    <img class="img3  mx-auto" src="assets/image/Cookin-Range-repair-1.png.webp" alt="">
                    <h3 style="color: #f09800;">
                        Washing Machine Repair
                    </h3>
                    <p>
                        Keep your laundry fresh with our quick and professional washing machine fix services.
                    </p>
                    <div class="text-center mx-auto align-item-center justify-content-center">
                        <a href="tel:+971552067066" target="_blank">
                            <button class="btn btn-success">
                                Call Us
                            </button>
                        </a>
                        <button class="mx-2 btn btn-warning">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="row  text-center">
            <div class="col-md-6">
                <div class="card mx-auto card2c p-3">
                    <img class="img3  mx-auto" src="assets/image/Dishwasher-repair.png.webp" alt="">
                    <h3 style="color: #f09800;">
                        Dishwasher Repair Service
                    </h3>
                    <p>
                        If your dishwasher needs repair in Dubai, experienced technicians can diagnose and fix the
                        problem efficiently. Their expert services ensure your dishwasher is restored to optimal
                        performance, saving you time and effort.
                    </p>
                    <div class="text-center mx-auto align-item-center justify-content-center">
                        <a href="tel:+971552067066" target="_blank">
                            <button class="btn btn-success">
                                Call Us
                            </button>
                        </a>
                        <button class="mx-2 btn btn-warning">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mx-auto card2d p-3">
                    <img class="img3  mx-auto" src="assets/image/Fridge-repair.png.webp" alt="">
                    <h3 style="color: #f09800;">
                        Fridge Repair Service
                    </h3>
                    <p>
                        For dependable fridge repair in Dubai, certified technicians provide swift and thorough service
                        to address any malfunction. Their expertise ensures your refrigerator runs smoothly, keeping
                        your food fresh and properly chilled.
                    </p>
                    <div class="text-center mx-auto align-item-center justify-content-center">
                        <a href="tel:+971552067066" target="_blank">
                            <button class="btn btn-success">
                                Call Us
                            </button>
                        </a>
                        <button class="mx-2 btn btn-warning">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="row  text-center">
            <div class="col-md-6">
                <div class="card mx-auto card2e p-3">
                    <img class="img3  mx-auto" src="assets/image/Washer-Dryer-repair-Dubai.png.webp" alt="">
                    <h3 style="color: #f09800;">
                        Washer Dryer Repair
                    </h3>
                    <p>
                        We specialize in rapid and affordable washer-dryer repair in Dubai. Our specialized repair
                        services keep your washer and dryer operating smoothly and efficiently.
                    </p>
                    <div class="text-center mx-auto align-item-center justify-content-center">
                        <a href="tel:+971552067066" target="_blank">
                            <button class="btn btn-success">
                                Call Us
                            </button>
                        </a>
                        <button class="mx-2 btn btn-warning">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mx-auto card2f p-3">
                    <img class="img3  mx-auto" src="assets/image/GYM-Equipments-repair-Dubai.png.webp" alt="">
                    <h3 style="color: #f09800;">
                        GYM Equipments Repair
                    </h3>
                    <p>
                        You should prioritize Workout Equipment Servicing to ensure its longevity and safety. Regular
                        servicing and timely repairs can prevent costly breakdowns for clients.
                    </p>
                    <div class="text-center mx-auto align-item-center justify-content-center">
                        <a href="tel:+971552067066" target="_blank">
                            <button class="btn btn-success">
                                Call Us
                            </button>
                        </a>
                        <button class="mx-2 btn btn-warning">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container-fluid text-center">
    <div class="card mx-3 p-3 card3">
        <h1 class="text" style="color: #f09800; font-weight: 800;">
            24/7 Availability: Call Our Dubai Appliance Repair Team Anytime
        </h1>
        <p>
            Also, our Dubai appliance repair is always on standby, and that means that you will get the help you need at
            any time of the day. Just dial our number and professional technicians will come at your place to solve all
            your appliance problems effectively.
        </p>
        <div class="text-center mx-auto align-item-center justify-content-center">

            <a href="https://wa.me/+971552067066?text=Hello%20there!%20I%20would%20like%20to%20learn%20more%20about%20your%20services."
                target="_blank">
                <button class="btn btn-success">
                    <i class="fa-brands fa-whatsapp"></i>
                    Whatsapp
                </button>
            </a>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="gap"></div>
<div class="container-fuild" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <p style="color: #f09800; font-weight: 500;">
                    Why We're Your Best Option
                </p>
                <h1 style="font-weight: 800;">
                    Top Reasons to Trust Our Appliance Repair Experts
                </h1>
                <p>
                    Appliance repair is a service that you want to engage a team that can guarantee you a quality repair
                    service. Here is why our appliance repair professionals are the best to work with given the
                    following reasons.
                </p>
                <p><i style="color: #f09800;" class="fa-solid fa-screwdriver-wrench"></i> Prompt and Reliable Service
                </p>
                <p><i style="color: #f09800;" class="fa-solid fa-screwdriver-wrench"></i> Customer Satisfaction
                    Guaranteed</p>
                <p><i style="color: #f09800;" class="fa-solid fa-screwdriver-wrench"></i> Up-to-Date with Latest
                    Technology</p>
                <p><i style="color: #f09800;" class="fa-solid fa-screwdriver-wrench"></i> Friendly and Professional
                    Service</p>
                <p><i style="color: #f09800;" class="fa-solid fa-screwdriver-wrench"></i> Efficient and Clean Work</p>
                <p><i style="color: #f09800;" class="fa-solid fa-screwdriver-wrench"></i> Positive Customer Reviews</p>

                <img class="img4" src="assets/logo/AL-RAFAH img3.png" alt="">

            </div>
            <div class="col-md-6 text-center">
                <div class="gap"></div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card4a p-3 m-3">
                            <i style="font-size: 50px;" class="fa-solid card4icon fa-user-gear"></i>
                            <h5 style="font-weight: 700;">
                                Highly Skilled Technicians
                            </h5>
                            <p>
                                Our team consists of certified and highly skilled technicians who have years of
                                experience working with a wide range of appliances.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card4b p-3 m-3">
                            <i style="font-size: 50px;" class="fa-solid card4icon fa-hand-holding-dollar"></i>
                            <h5 style="font-weight: 700;">
                                Transparent Pricing
                            </h5>
                            <p class="">
                                We believe in transparency when it comes to pricing. Before any work begins, <br> we
                                provide
                                a detailed estimate of the costs involved.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card4c p-3 m-3">
                            <i style="font-size: 50px;" class="fa-solid card4icon fa-screwdriver-wrench"></i>
                            <h5 style="font-weight: 700;">
                                High-Quality Parts
                            </h5>
                            <p>
                                To ensure the longevity and reliability of your repaired appliances, we use only
                                high-quality, manufacturer-approved parts.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card4d p-3 m-3">

                            <i style="font-size: 50px;" class="fa-solid card4icon fa-award"></i>
                            <h5 style="font-weight: 700;">
                                Comprehensive Warranty
                            </h5>
                            <p>
                                We stand behind our work with a comprehensive warranty on both parts and labor. This
                                gives you peace of mind knowing.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="gap"></div>
                <div class="text-center mx-auto align-item-center justify-content-center">
                    <a href="https://wa.me/+971552067066?text=Hello%20there!%20I%20would%20like%20to%20learn%20more%20about%20your%20services."
                        target="_blank">
                        <button class="btn btn-success">
                            <i class="fa-brands fa-whatsapp"></i>
                            Whatsapp
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid" style="background-color: #f0eeee;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p style="color: #f09800; font-weight: 500;">
                    Brands
                </p>
                <h1 style="font-weight: 800;">
                    We Fix Appliances All Brands
                </h1>
                <p>
                    We are your go-to company for appliance repairs across Dubai because we deal with most brands of
                    home appliances. If it is a fridge, washer or an oven, you better believe our techs have the
                    know-how to correct problems. Rest assured we have solutions to your repair needs for all your home
                    appliances.
                </p>
                <div class="row">
                    <div class="col-md-3"><a (click)="open('/Siemens')"><img class="img5"
                                src="assets/image/Siemens.png.webp" alt=""></a></div>
                    <div class="col-md-3"><a (click)="open('/Bosch')"><img class="img5"
                                src="assets/image/Bosch.png.webp" alt=""> </a></div>
                    <div class="col-md-3"><a (click)="open('/Indesit')"><img class="img5"
                                src="assets/image/Indesit.png.webp" alt=""></a></div>
                    <div class="col-md-3"><a (click)="open('/Miele')"><img class="img5"
                                src="assets/image/Miele.png.webp" alt=""> </a></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><a (click)="open('/Whirlpool')"><img class="img5"
                                src="assets/image/Whirlpool.png.webp" alt=""> </a> </div>
                    <div class="col-md-3"><a (click)="open('Hisense')"><img class="img5"
                                src="assets/image/Hisense.png.webp" alt=""> </a> </div>
                    <div class="col-md-3"><a (click)="open('/Samsung')"><img class="img5"
                                src="assets/image/Samsung.png.webp" alt=""> </a> </div>
                    <div class="col-md-3"><a (click)="open('/Lg')"><img class="img5" src="assets/image/Lg.png.webp"
                                alt=""> </a> </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="background-color: #f09800;">
                    <img class="img5 person" src="assets/image/img-846485648.png.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid mt-5" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mx-auto justify-content-center align-item-center">
                <p style="color: #f09800; font-weight: 500;">
                    Testimonials
                </p>
                <h1 class="text-center" style="font-weight: 700;">
                    Customer Feedback & Reviews
                </h1>
                <img src="assets/image/imag.png.webp" alt="">
                <p class="px-5" style="font-weight: 500;">
                    "Appliances Repair Dubai provided exceptional service when my refrigerator, suddenly stopped cooling
                    and GYM Equipments repair. The technician arrived promptly, diagnosed the issue efficiently.”
                </p>
            </div>
            <div class="col-md-6">
                <p style="color: #f09800; font-weight: 500;">
                    Quality Service at Your Doorstep
                </p>
                <h1 style="font-weight: 800;">
                    Get Some Frequently Asked Question
                </h1>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How do I prepare my appliance for repair?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Clear the area around the appliance, unplug it, and note any issues or error codes. This
                                helps the technician diagnose and fix the problem more efficiently.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Are the repair technicians certified?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Reputable repair services in Dubai employ certified technicians who are trained to
                                handle various appliance issues.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How quickly can I get my appliances repaired in Dubai?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Many repair services in Dubai offer same-day or next-day service, especially for urgent
                                repairs.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What common issues can occur with refrigerators?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Common refrigerator issues include not cooling, water leakage, and strange noises. These
                                problems often require professional diagnosis and repair.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
<app-footer></app-footer>