<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid" style="background-color: #fff;">
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img1" src="assets/logo/AL-RAFAH img7.png" alt="">
            </div>
            <div class="col-md-6 my-auto">
                <p style="color: #5bbb01;font-weight: 500;  font-size: 20px;">
                    At Al-bariq Appliances Service
                </p>
                <h1 style="font-weight: 800; line-height: 35px;">
                    Washer Dryer <br> <span style="color: #5bbb01;">Repair</span>
                </h1>
                <p>
                    Al-Bariq Appliance offers professional <span style="color: #5bbb01;"> washer dryer repair and
                        maintenance services </span>, resolving heating,
                    drum, and electrical issues efficiently. Our skilled technicians ensure reliable, affordable
                    solutions to keep your dryer running smoothly.
                </p>
                <a href="tel:+971552067066" target="_blank">
                    <button class="btn btn-success">
                        Call Us
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>

<div class="gap"></div>
<div class="container-fluid mt-5 mb-5" style="background-color: #fff;">
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6  my-auto">
                <h1>
                    What we <span style="color: #5bbb01;">care</span> about?
                </h1>
                <ul>
                    <li>Comprehensive Repairs: Resolving motor issues, drum problems, and electrical faults.</li>
                    <li>Dryer Heating Issues: Fixing insufficient or excessive heating for optimal drying.</li>
                    <li>Drainage and Spin Problems: Ensuring smooth water drainage and spin functionality.</li>
                    <li>Preventive Maintenance: Regular servicing to enhance performance and extend lifespan.</li>
                    <li>Error Code Diagnostics: Identifying and fixing system errors efficiently.</li>
                    <li>Multi-Brand Expertise: Skilled in servicing various washer and dryer brands and models.</li>
                    <li>Affordable Pricing: High-quality service at competitive rates.</li>
                    <li>Quick Turnaround: Prompt repairs to minimize downtime.</li>
                    <li>Reliable Solutions: Focused on restoring functionality and ensuring durability.</li>
                    <li>Customer-Centric Approach: Dedicated to providing hassle-free, satisfactory service.</li>
                </ul>
                <div class="justify-content-center align-item-center text-align-center">
                    <button type="button" class="btn btn-success mx-auto">
                        <i class="fa-brands fa-whatsapp"></i>
                        Whatsapp
                    </button>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="img1" src="assets/logo/AL-RAFAH img5.png" alt="">
            </div>
            <div class="gap"></div>
        </div>
    </div>
</div>

<div class="gap"></div>
<div class="container-fluid">

    <div class="card mx-3 p-3">
        <h1 class="text-center " style="font-weight: 800; ">
            <span style="color: #5bbb01;">Brands</span> That we are care with!!
        </h1>
    </div>
    <div class="gap"></div>


    <div class="row  mx-3">
        <div class="col-md-6">
            <p style="color: #f09800; font-weight: 500;">
                Brands
            </p>
            <h1 style="font-weight: 800;">
                We Fix <span style="color: #5bbb01;">Washer Dryer</span> of All Brands
            </h1>
            <p>
                Al-Bariq Appliance in Dubai offers expert washer and dryer repair and maintenance services for leading
                brands. With skilled technicians and a commitment to excellence, we provide reliable solutions for
                performance optimization.
            </p>
            <div class="row">
                <div class="col-md-3"><img class="img5" src="assets/image/Siemens.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Bosch.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Indesit.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Miele.png.webp" alt=""></div>
            </div>
            <div class="row">
                <div class="col-md-3"><img class="img5" src="assets/image/Whirlpool.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Hisense.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Samsung.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Lg.png.webp" alt=""></div>
            </div>
        </div>
        <div class="col-md-6  my-auto">
            <div class="card mx-4">
                <img src="assets/image/male-worker-wearing-work-clothes.png" alt="">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>