<div class="gap">
</div>
<img class="img" src="assets/image/young-man-working-warehouse-with-boxes.jpg" alt="">
<div class="container-fluid">
    <div class="container">
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="row">
            <h1>
                About Our Company...
            </h1>
            <div class="col-md-6">
                <h1 style="font-weight: 800; color: #b17104; font-size: 54px;">
                    Expert Appliance Repair Technicians.
                </h1>
            </div>
            <div class="col-md-6">
                <img class="img1" src="assets/logo/AL-RAFAH img3.png" alt="">
            </div>

        </div>
    </div>
</div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid my-4">
    <div class="row p-5" style="background-color: #fcba03; border:none">

        <div class="row container">
            <div class="col-md-3 ">
                <div class="card m-3 p-3 counter" style="background-color: transparent;">
                    <img class="icon mx-auto" src="assets/logo/icon-3.png" alt="">
                    <h1 class="text-center cardi">
                        <app-odometer class="subscribers-odometer" [value]="15" [startValue]="0"></app-odometer>+
                    </h1>
                    <h5 class="text-center cardi">
                        years
                        of Experience
                    </h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-3 p-3 counter" style="background-color: transparent;">
                    <img class="icon mx-auto" src="assets/logo/icon-4.png" alt="">
                    <h1 class="text-center cardi">
                        <app-odometer class="subscribers-odometer" [value]="5" [startValue]="0"></app-odometer>+
                    </h1>
                    <h5 class="text-center cardi">
                        Certified Engineers
                    </h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-3 p-3 counter" style="background-color: transparent;">
                    <img class="icon mx-auto" src="assets/logo/icon-2.png" alt="">
                    <h1 class="text-center cardi">
                        <app-odometer class="subscribers-odometer" [value]="2000" [startValue]="0"></app-odometer>+
                    </h1>
                    <h5 class="text-center cardi">
                        Satisfied Customer Over Year
                    </h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-3 p-3 counter" style="background-color: transparent;">
                    <img class="icon mx-auto" src="assets/logo/icon-1.png" alt="">
                    <h1 class="text-center W-100 cardi">
                        <app-odometer class="subscribers-odometer" [value]="15" [startValue]="0"></app-odometer>+
                    </h1>
                    <h5 class="text-center cardi">
                        Services
                    </h5>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container" style="display: none;">
    <h1>Statistics</h1>

    <app-odometer class="videos-odometer" [value]="790" [startValue]="0"></app-odometer>
    <app-odometer class="projects-odometer" [value]="89" [startValue]="0"></app-odometer>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <app-odometer class="subscribers-odometer" [value]="29800" [startValue]="0"></app-odometer>
        </div>
        <div class="col-md-4">
            <app-odometer class="subscribers-odometer" [value]="29800" [startValue]="0"></app-odometer>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mx-3 card1">
                    <i class="fa-solid fa-brain"></i>
                    <h1>
                        Why Choose Us?
                    </h1>
                    <p style="font-size: 15px;">
                        Choose **Al-Bariq Appliance Services** for expert, reliable, and affordable home appliance
                        repairs in Dubai. We offer quick service, genuine spare parts, competitive pricing, and a
                        customer-focused approach. With skilled technicians, same-day appointments, and a satisfaction
                        guarantee, we ensure your appliances are back in top condition, hassle-free.
                    </p>
                    <div class="justify-content-center align-item-center text-align-center">
                        <button type="button" class="btn btn-success">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mx-3 card1">
                    <i class="fa-solid fa-bullseye"></i>
                    <h1>
                        Our Goals
                    </h1>
                    <p style="font-size: 15px;" class="mx-4">
                        At Al-Bariq Appliance Services, our goal is to deliver exceptional repair and maintenance
                        solutions that ensure the efficiency and longevity of your home appliances. We strive to exceed
                        customer expectations through reliable service, professional expertise, and a commitment to
                        quality, building trust and lasting relationships with Our Customers.
                    </p>
                    <div class="justify-content-center align-item-center text-align-center">
                        <button type="button" class="btn btn-success">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mx-3 card1">
                    <i class="fa-solid fa-chart-simple"></i>
                    <h1>
                        Our Vision
                    </h1>
                    <p style="font-size: 15px;" class="mx-4">
                        Our vision at Al-Bariq Appliance Services is to become World's leading home appliance & Gym
                        Equipment service provider, known for unmatched reliability, quality, and customer satisfaction.
                        We aim to set the standard for excellence in appliance care, fostering trust and innovation
                        while contributing to a more sustainable and efficient future for every household.
                    </p>
                    <div class="justify-content-center align-item-center text-align-center">
                        <button type="button" class="btn btn-success">
                            Learn More...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>