<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid" style="background-color: #fff;">
    <div class="container">
        <div class="row">

            <div class="col-md-6 my-auto">
                <p style="color: #5bbb01;font-weight: 500;  font-size: 20px;">
                    At Al-bariq Appliances Service
                </p>
                <h1 style="font-weight: 800; line-height: 35px;">
                    <span style="color: #5bbb01;"> Elliptical </span> <br> Service
                </h1>
                <p>
                    Al-Bariq Appliance provides expert elliptical repair and maintenance services, ensuring smooth and
                    reliable performance. Our skilled technicians specialize in fixing resistance, stride, and
                    electrical issues for all major brands.
                </p>

                <button type="button" class="btn btn-success mx-auto">
                    <i class="fa-solid fa-phone"></i>
                    Call Us...
                </button>
            </div>
            <div class="col-md-6 p-5">
                <img class="img1" src="assets/logo/AL-RAFAH img14.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container-fluid mt-5 mb-5" style="background-color: #fff;">
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <img class="img1" src="assets/logo/AL-RAFAH img12.png" alt="">
            </div>
            <div class="col-md-6  my-auto">
                <h1>
                    What we <span style="color: #5bbb01;">care</span> about?
                </h1>
                <ul>
                    <li> Resistance Repairs: Fixing or calibrating resistance levels for a smooth workout.</li>
                    <li> Stride Mechanism Maintenance: Addressing issues with stride length and motion.</li>
                    <li> Electrical Repairs: Resolving faults in wiring, power supply, and control panels.</li>
                    <li> Display and Console Issues: Repairing or replacing faulty screens and buttons.</li>
                    <li> Noise Reduction: Eliminating squeaks and grinding noises for quieter operation.</li>
                    <li> Pedal and Arm Maintenance: Ensuring proper alignment and fixing any movement issues.</li>
                    <li> Error Code Diagnostics: Troubleshooting and repairing system errors efficiently.</li>
                    <li> Preventive Maintenance: Regular servicing to extend lifespan and improve performance.</li>
                    <li> Multi-Brand Expertise: Skilled in servicing elliptical machines from various brands.</li>
                    <li> Affordable and Reliable: Offering cost-effective and high-quality solutions.</li>
                </ul>
                <div class="justify-content-center align-item-center text-align-center">
                    <button type="button" class="btn btn-success mx-auto">
                        <i class="fa-brands fa-whatsapp"></i>
                        Whatsapp
                    </button>
                </div>

            </div>

            <div class="gap"></div>
        </div>
    </div>
</div>

<div class="gap"></div>




<app-footer></app-footer>