<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid" style="background-color: #fff;">
    <div class="gap"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 my-auto">
                <p style="color: #5bbb01;font-weight: 500;  font-size: 20px;">
                    At Al-bariq Appliances Service
                </p>
                <h1 style="font-weight: 800; line-height: 35px;">
                    Dishwasher <br> <span style="color: #5bbb01;">Repair</span>
                </h1>
                <p>
                    Al-Bariq Appliance offers professional dishwasher repair services, specializing in fixing drainage,
                    heating, and mechanical issues. Our experienced technicians ensure efficient, reliable, and
                    cost-effective solutions to restore your dishwasher's performance.
                </p>
                <a href="tel:+971552067066" target="_blank">
                    <button class="btn btn-success">
                        Call Us
                    </button>
                </a>
            </div>
            <div class="col-md-6">
                <img class="img1" src="assets/logo/AL-RAFAH img9.png" alt="">
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>

<div class="gap"></div>
<div class="container-fluid mt-5 mb-5" style="background-color: #fff;">
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <img class="img1" src="assets/logo/AL-RAFAH img5.png" alt="">
            </div>
            <div class="col-md-6  my-auto">
                <h1>
                    What we <span style="color: #5bbb01;">care</span> about?
                </h1>
                <ul>
                    <li> Drainage Problems: Resolving clogs and ensuring smooth water flow.</li>
                    <li> Heating Element Repairs: Fixing issues with water heating for efficient cleaning.</li>
                    <li> Mechanical Faults: Repairing stuck or malfunctioning doors, spray arms, and racks.</li>
                    <li> Electrical Repairs: Addressing wiring, circuit board, and power supply issues.</li>
                    <li> Leak Detection: Identifying and fixing water leaks to prevent damage.</li>
                    <li> Error Code Diagnostics: Troubleshooting system errors for quick resolution.</li>
                    <li> Preventive Maintenance: Regular servicing to improve performance and lifespan.</li>
                    <li> Multi-Brand Expertise: Skilled in servicing various dishwasher brands and models.</li>
                    <li> Affordable and Reliable: Quality solutions at competitive prices.</li>
                    <li> Customer-Focused: Ensuring efficient and hassle-free service tailored to your needs.</li>
                </ul>
                <div class="justify-content-center align-item-center text-align-center">
                    <button type="button" class="btn btn-success mx-auto">
                        <i class="fa-brands fa-whatsapp"></i>
                        Whatsapp
                    </button>
                </div>

            </div>

            <div class="gap"></div>
        </div>
    </div>
</div>

<div class="gap"></div>
<div class="container-fluid">

    <div class="card mx-3 p-3">
        <h1 class="text-center " style="font-weight: 800; ">
            <span style="color: #5bbb01;">Brands</span> That we are care with!!
        </h1>
    </div>
    <div class="gap"></div>


    <div class="row  mx-3">
        <div class="col-md-6">
            <p style="color: #f09800; font-weight: 500;">
                Brands
            </p>
            <h1 style="font-weight: 800;">
                We Fix <span style="color: #5bbb01;">Dishwasher</span> of All Brands
            </h1>
            <p>
                Al-Bariq Appliance in Dubai offers expert dishwasher repair and maintenance services for leading brands.
                With skilled technicians and a focus on quality, we deliver reliable solutions for drainage, heating,
                and mechanical issues.
            </p>
            <div class="row">
                <div class="col-md-3"><img class="img5" src="assets/image/Siemens.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Bosch.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Indesit.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Miele.png.webp" alt=""></div>
            </div>
            <div class="row">
                <div class="col-md-3"><img class="img5" src="assets/image/Whirlpool.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Hisense.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Samsung.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Lg.png.webp" alt=""></div>
            </div>
        </div>
        <div class="col-md-6  my-auto">
            <div class="card mx-4">
                <img src="assets/image/male-worker-wearing-work-clothes.png" alt="">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>