<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="container-fluid p-3" style="background-color: #fff;">
    <div class="container">
        <div class="row">

            <div class="col-md-6 my-auto">
                <p style="color: #5bbb01;font-weight: 500;  font-size: 20px;">
                    At Al-bariq Appliances Service
                </p>
                <h1 style="font-weight: 800; line-height: 35px;">
                    Cooking Range <br> <span style="color: #5bbb01;">Service</span>
                </h1>
                <p>
                    Al-Bariq Appliance provides reliable cooking range repair and maintenance services, addressing
                    burner, ignition, and other issues. Our skilled technicians ensure safe, efficient, and affordable
                    solutions for your kitchen needs.
                </p>
                <a href="tel:+971552067066" target="_blank">
                    <button class="btn btn-success">
                        Call Us
                    </button>
                </a>
            </div>
            <div class="col-md-6">
                <img class="img1" src="assets/logo/AL-RAFAH img6.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 mb-5" style="background-color: #fff;">
    <div class="gap"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 my-auto">
                <img class="img1" src="assets/logo/AL-RAFAH img10.png" alt="">
            </div>

            <div class="col-md-6  my-auto">
                <h1>
                    What we <span style="color: #5bbb01;">care</span> about?
                </h1>
                <ul>
                    <li>Burner Repairs: Fixing uneven flame, non-functioning, or clogged burners.</li>
                    <li>Ignition Issues: Resolving ignition problems for smooth operation.</li>
                    <li>Gas Leak Detection: Ensuring safety by identifying and fixing gas leaks.</li>
                    <li>Electrical Faults: Repairing wiring and electrical component issues.</li>
                    <li>Knob and Control Panel Repair: Restoring functionality of controls and switches.</li>
                    <li>Comprehensive Maintenance: Regular servicing to enhance efficiency and lifespan.</li>
                    <li>Multi-Brand Expertise: Skilled in handling various cooking range brands and models.</li>
                    <li>Affordable Solutions: Quality service at competitive prices.</li>
                    <li>Quick Turnaround: Efficient repairs to minimize kitchen downtime.</li>
                    <li>Customer Satisfaction: Reliable service with a focus on safety and performance.</li>


                </ul>
                <div class="justify-content-center align-item-center text-align-center">
                    <a href="https://wa.me/+971552067066?text=Hello%20there!%20I%20would%20like%20to%20learn%20more%20about%20your%20services."
                        target="_blank">
                        <button class="btn btn-success">
                            <i class="fa-brands fa-whatsapp"></i>
                            Whatsapp
                        </button>
                    </a>
                </div>
                <div class="gap"></div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>

<div class="gap"></div>
<div class="container-fluid">

    <div class="card mx-3 p-3">
        <h1 class="text-center " style="font-weight: 800; ">
            <span style="color: #5bbb01;">Brands</span> That we are care with!!
        </h1>
    </div>
    <div class="gap"></div>


    <div class="row  mx-3">
        <div class="col-md-6">
            <p style="color: #f09800; font-weight: 500;">
                Brands
            </p>
            <h1 style="font-weight: 800;">
                We Fix Washing Machine of All Brands
            </h1>
            <p>
                Al-Bariq Appliance in Dubai offers expert cooking range repair and maintenance services for all major
                brands. With skilled technicians and a focus on quality, we provide reliable solutions for burner,
                ignition, and electrical issues.
            </p>
            <div class="row">
                <div class="col-md-3"><img class="img5" src="assets/image/Siemens.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Bosch.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Indesit.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Miele.png.webp" alt=""></div>
            </div>
            <div class="row">
                <div class="col-md-3"><img class="img5" src="assets/image/Whirlpool.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Hisense.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Samsung.png.webp" alt=""></div>
                <div class="col-md-3"><img class="img5" src="assets/image/Lg.png.webp" alt=""></div>
            </div>
        </div>
        <div class="col-md-6  my-auto">
            <div class="card mx-4">
                <img src="assets/image/male-worker-wearing-work-clothes.png" alt="">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>